@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 10px;
  background: #0A0825;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 7rem;
  line-height: 8.8rem;
  color: #FFFFFF;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.3rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-top: 1.9rem;
}

.pcg {
  color: #AAAAAA;
}

.hide {
  display: none;
}

.main-btn {
  color: #FFFFFF;
  background-color: #4F4DB9;
  border-radius: 30px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 1rem 2.3rem;
  margin-top: 4.4rem;
  text-transform: uppercase;
  border: 1px solid #4F4DB9;
  display: inline-block;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.main-btn:hover {
  color: #4F4DB9;
  background: transparent;
  border: 1px solid #4F4DB9;
}

.btn2 {
  color: #4F4DB9;
  background: transparent;
  border-radius: 30px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.02em;
  padding: 1rem 2.3rem;
  margin-top: 4.4rem;
  text-transform: uppercase;
  border: 1px solid #4F4DB9;
  display: inline-block;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.btn2:hover {
  color: #FFFFFF;
  background-color: #4F4DB9;
  border: 1px solid #4F4DB9;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: red;
}

.navbar {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  text-align: center;
}

.navbar.nav-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #141330;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
}

.navbar-wrapper {
  width: 100%;
  padding: 2.6rem 0rem;
}

.navbar-wrapper .navbar-toggler:focus,
.navbar-wrapper .navbar-toggler:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.navbar-wrapper .navbar-toggler {
  color: #FFFFFF;
  font-size: 3rem;
}

.navbar-wrapper .navbar-brand {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #FFFFFF;
}

.navbar-wrapper .navbar-nav .nav-item .nav-link {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-left: 6.2rem;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  position: relative;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.navbar-wrapper .navbar-nav .nav-item .nav-link:hover,
.navbar-wrapper .navbar-nav .nav-item .nav-link.active {
  color: red;
}

.navbar-wrapper .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border: 1px solid #0A0825;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.navbar-wrapper .navbar-nav .nav-item .nav-link:hover:after,
.navbar-wrapper .navbar-nav .nav-item .nav-link:focus:after,
.navbar-wrapper .navbar-nav .nav-item .nav-link.active:after {
  width: 100%;
  border: 1px solid red;
}

section {
  margin: 10.5rem 0rem !important;
  position: relative;
}

.home-wrapper::before {
  content: "";
  position: absolute;
  top: -35rem;
  left: -25rem;
  width: 65.2rem;
  height: 68rem;
  background: rgba(104, 120, 190, 0.3);
  -webkit-filter: blur(10rem);
          filter: blur(10rem);
  border-radius: 50%;
}

.company p {
  font-family: "Outfit", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.company::after {
  content: "";
  position: absolute;
  top: -35rem;
  right: -25rem;
  width: 65.2rem;
  height: 68rem;
  background: rgba(104, 120, 190, 0.3);
  -webkit-filter: blur(10rem);
          filter: blur(10rem);
  border-radius: 50%;
}

.company .comp-logo {
  background: #141330;
  border-radius: 5px;
  padding: 4rem 0rem;
  text-align: center;
  margin-top: 2.7rem;
}

.team-wrapper .team {
  margin-top: 13rem;
}

.team-wrapper .card {
  background: transparent;
  max-width: 300px;
  max-height: 400px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-wrapper .card .card-img {
  width: 20rem;
  height: 25rem;
}

.team-wrapper .card .card-body p {
  width: 22rem;
}

.join-wrapper {
  margin-top: 23.5rem !important;
}

.join-wrapper .content {
  background: linear-gradient(98.23deg, #615EEB 1.97%, #743EAB 74.16%);
  border-radius: 20px;
}

.join-wrapper p {
  font-weight: 700;
  margin-top: 5.5rem;
}

.join-wrapper h2 {
  margin-top: 6rem;
}

.join-wrapper .main-btn {
  background-color: #0A0825;
  margin-bottom: 5.5rem;
}

.join-wrapper .main-btn:hover {
  color: #0A0825;
  background: transparent;
  border: 1px solid #0A0825;
}

section.footer-section {
  margin: 20rem 0rem !important;
}

section.footer-section h5 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #FFFFFF;
}

section.footer-section h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #FFFFFF;
}

section.footer-section ul {
  margin-top: 2.8rem;
}

section.footer-section ul li {
  list-style: none;
}

section.footer-section ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.1rem;
  color: #FFFFFF;
  margin: 2rem 0rem;
  opacity: .7;
}

section.footer-section input {
  display: inline-block;
  background: rgba(104, 120, 190, 0.3);
  border-radius: 20px;
  padding: 1rem 1.2rem;
  border: none;
  outline: none;
  width: 25rem;
  margin-top: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #AAAAAA;
}

section.footer-section .footer-btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #FFFFFF;
  border-radius: 20px;
  background: linear-gradient(106.49deg, #6F46BC 26.12%, #4F4DB9 83.75%);
  padding: 1.7rem 3rem;
  width: 10rem;
  position: absolute;
  top: 4rem;
  left: 16rem;
}
/*# sourceMappingURL=style.css.map */